@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.containerss {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)), url(../images/background.jpg);
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
}

.footers {
    margin-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.568)), url(../images/footer.jpg);
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
}

#h6 {
    text-transform: uppercase;
}

.containerss .containerBox,
.footers .containerBox {
    padding: 30px;
}

.containerss .containerBox h6,
.containerss .containerBox h1,
.containerss .containerBox button,
.footers .containerBox button {
    color: whitesmoke;
}

.containerss .containerBox h6 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}

.containerss .containerBox h1,
.footers .containerBox h1 {
    margin: 20px 0;
    font-size: 3em;
    font-family: 'Shadows Into Light', cursive;
}

.containerss .containerBox button,
.footers .containerBox button {
    margin: 20px 0;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
}

.containerss .containerBox button:hover,
.footers .containerBox button:hover {
    background: #060b26;
    color: white;
}

#span {
    margin: 100px 30px;
    color: #060b26;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    text-align: center;
    /* border-top: 1px solid #060b26; */
}

.footerColor {
    background: #060b26;
}


.footerColor h6 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
}